.a-auto a{
    width: auto !important;
}
.card-icons{
    position: relative;
}
.card-icons .overlay-icons{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9;
}
.card-icons .overlay-icons .edit{
    background:#fff;
    color:#37bea7;
    padding: 5px 10px;
    border-radius: 3px;
}
.card-icons .overlay-icons .delete{
    background:#cc563d;
    color:#fff;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left:5px;
}
.card-icons .overlay-price{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9;
}
.card-icons .overlay-price span{
    background:#37bea7;
    color:#fff;
    padding: 5px 10px;
    border-radius: 3px;
}
.card-icons::after{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    background:#00000040;
    left: 0;
    z-index: 1;
}
.a-auto a{
    width: auto !important;
}
.cursor-default{
    cursor: default;
}
.price-tag{
    background:#37bea7;
    color:#fff;
    padding: 5px 10px;
    border-radius: 3px;
}
tr{
    border-width: 0.2px;
}